* {
    margin: 0; 
    padding: 0;
    font-family: Teachers, arial;
    box-sizing: border-box;
}

body {
    background-color: #ddb;
}

#wrapper {
    max-width:1024px;
    margin: 0 auto;
    background-color: white;
}

header img {
    width: 100%;
    display: block;       
}

nav {
    overflow: hidden;
}

nav a {
    display: block;
    width: 25%;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    padding: 15px 30px;
    font-size: 20px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;       
}

button {
    font-size: 20px;
    padding: 15px 30px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius:5px;
    width: 25%;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    margin: 30px 0px 0px 0px;
}

button:hover {
    background-color: dimgray;
    cursor: pointer;    
}

hr {
    width: 100%;
}

nav a:hover {
    background-color: dimgray;
    cursor: pointer;    
}

@media (max-width:800px){
    nav a {
        width: 50%;
        font-size: 22px;
    }
}

@media (max-width:600px){
    nav a {
        width: 100%;
        font-size: 24px;
    }
}

.active {
    background-color: dimgray;
}

article {
    margin-top:30px;
    margin-bottom: 20px;
    padding: 0 20px;
}

article h1 {
    font-size:30px;
    text-align: center;
    margin: 0 20% 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid dimgray;
    
}

img.left {
    float:left;
    margin: 0px 10px 10px 0;
    width: 40%;
    border-radius: 50% 30%;  
}

img.center {
    margin: 20px -40px;
    width: 100%;
    border-radius: 6%;
    text-align: center;   
}

img.center1 {
    margin: 20px -40px;
    width: 50%;
    border-radius: 6%;
    text-align: center;   
}


section {
    text-align: center;
    margin: 0 auto;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0;   
    
}

ul {
    text-align: left;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0;   
}

iframe {
    margin: 10px auto 50px;
}

table, th, td
      {
        border-collapse:collapse;
        border:1px solid black;
        padding:5px;
        text-align: left;
      }
.table1 {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width: 50%;
}

.table1 tr:nth-child(2n) {
    background: darkgray;
}

footer {
    height: 40px;
    background-color: black;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 60px;
}

.polskiefiaty {
    display: flex;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0,0,0,.4);
}

.card {
    position: relative;
    text-align: center;
}

.card img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    transition: opacity .5s, filter .5s;
}

.card h2 {
    position: absolute;
    left: 50%;
    color: crimson ;
    font-weight: bold;
    transform: translateX(-50%);
    opacity 0;
    transition: transform .5s, opacity .5s;
}
.card p2 {
    position: absolute;
    left: 50%;
    color: crimson;
    font-weight: bold;
    transform: translateX(-50%);
    opacity 0;
    transition: transform .5s, opacity .5s;
}

.card h2 {
    bottom: -60px;
}

.card p2 {
    bottom: -30px;
    font-size: 18px;
    transition-delay: .2s;
}

.card:hover h2 {
    transform: translateX(-50%) translateY(-120px);
    opacity 1; 
}

.card:hover p2 {
    transform: translateX(-50%) translateY(-60px);
    opacity 1; 
}

.card:hover img {
    filter: grayscale(1);
    opacity: : 0.5;
}
